body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Press Start 2P', cursive;
	overflow: hidden;
	background-color: black;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 2rem auto;
	color: white;
}

.heading {
	font-size: 4rem;
	margin: 0;
}

.player-area {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.player-area h2 {
	font-size: 1rem;
}

.player-area strong {
	font-size: 2rem;
	margin-left: 1rem
}

.right-player {
	padding-right: 2rem;
}

.left-player {
	padding-left: 2rem;
}

.separator {
	width: 100%;
	margin: 10px 0 0 0;
}

.player-left-paddle {
	position: absolute;
	left: 0px;
	top: calc(50% + 85px);
	width: 12px;
	height: 85px;
	background-color: white;
}

.player-right-paddle {
	position: absolute;
	right: 0px;
	top: calc(50% + 85px);
	width: 12px;
	height: 85px;
	background-color: white;
}

.ping-pong-ball {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 15px;
	height: 15px;
	background-color: white;
	margin-top: -12.5px;
	margin-left: -12.5px;
}

.arena {
	border: 5px dotted;
	border-color: white;
	width: 900px;
	height: 600px;
	background-color: black;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9;
	transform: translate(-50%, -50%);
}

.modal {
	font-family: 'Press Start 2P', cursive;
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 10;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 450px;
	height: 300px;
	background-color: #000;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.start-game-container {
	display: flex;
}

.start-game-container p {
	font-size: 0.68rem;

}

.end-game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;
}

.end-game-container p {
	font-size: 1.5rem;
    margin-bottom: 4rem;
}

.end-game-container button {
	min-height: 3rem;
}

.hide {
	display: none;
}

.btn {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	border: 1px white solid;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background-color: white;
	border: 1px black solid;
	color: black;
}

.legend-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 0.68rem;
}

.legend-container section {
	display: flex;
    flex-direction: row;
}

.legend-container section article {
	flex-direction: row;
}

.legend-container section article:last-child {
	margin-left: 3rem;
}

.legend-container p {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0;
}

.legend-container > p:first-child {
	font-size: 1rem;
	font-weight: 600;
}

.legend-container p:first-child {
	display: block;
}
